<!DOCTYPE html>
<html>
<head>
  <title>Globabble</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% unless notice.nil? %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% unless alert.nil? %>
    <p class="alert"><%= alert %></p>
  <% end %>
<%= yield %>

</body>
</html>
